/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-br {
  white-space: nowrap;
}

html {
  cursor: url("images/normal.cur"), auto;
}

body {
  margin: 20px;
  letter-spacing: -0.06em;
  font-size: 64px;
  line-height: 1.2;
  font-family: poynter-oldstyle-display-nar, serif;
  font-weight: 400;
  font-style: normal;

  @media (max-width: 800px) {
    font-size: 44px;
  }
}

@keyframes change-box-shadow {
  0% {
    box-shadow: #ff1312 0 0 20px 5px;
  }
  25% {
    box-shadow: #fbff12 0 0 20px 5px;
  }
  50% {
    box-shadow: #12ff12 0 0 20px 5px;
  }
  75% {
    box-shadow: #1038ff 0 0 20px 5px;
  }
  95% {
    box-shadow: #d010ff 0 0 20px 5px;
  }
  100% {
    box-shadow: #ff1312 0 0 20px 5px;
  }
}

@keyframes change-box-shadow-mobile {
  0% {
    box-shadow: #ff1312 0 0 12px 2px;
  }
  25% {
    box-shadow: #fbff12 0 0 12px 2px;
  }
  50% {
    box-shadow: #12ff12 0 0 12px 2px;
  }
  75% {
    box-shadow: #1038ff 0 0 12px 2px;
  }
  95% {
    box-shadow: #d010ff 0 0 12px 2px;
  }
  100% {
    box-shadow: #ff1312 0 0 12px 2px;
  }
}

.mobile-frame {
  position: inherit;
  font-size: 22px;
  line-height: 1.3;
  margin: 10px 0 20px;
  text-decoration: none;
  color: black;
  background: white;
  border: 1px solid black;
  display: inline-block;
  padding: 5px 10px;
  letter-spacing: -0.06em;
  box-shadow: #12ff12 0 0 20px 5px;
  animation: change-box-shadow-mobile 8s ease infinite;

  @media(min-width: 800px) {
    font-size: 40px;
    margin: 30px 0 20px;
  }
}

a {
  cursor: url("images/link.cur"), auto;
}

.source {
  position: inherit;
  @media (max-width: 1000px) {
    width: 240px;
    margin-top: 65px;
  }

  @media(min-width: 800px) {
    margin-top: 120px;
    width: 285px;
  }
  @media(min-width: 1440px) {
    width: 390px;
    margin-top: 120px;
  }
}

.subway-card {
  width: 40%;
  height: 40%;
  @media (min-width: 1000px) {
    position: absolute;
  }
}
h1 {
  z-index: 1;
  line-height: 1;

  @media(min-width: 800px) {
    font-size: 80px;
    max-width: 80%;
  }
  @media(min-width: 1500px) {
    font-size: 100px;
  }
}

.intro {
  position: fixed;
  top: 20px;
  right: 20px;
  left: 20px;
}

.card-wrapper {
  margin-top: 545px;
  @media(min-width: 800px) {
    margin-top: 700px;
  }
  @media(min-width: 1440px) {
    margin-top: 840px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.mobile-subway-card {
  max-width: 100%;

  &.invert {
    filter: invert(1);
  }
}
