/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-br {
  white-space: nowrap;
}

html {
  cursor: url("images/normal.cur"), auto;
}

body {
  margin: 20px;
  letter-spacing: -0.06em;
  font-size: 64px;
  line-height: 1.2;
  font-family: poynter-oldstyle-display-nar, serif;
  font-weight: 400;
  font-style: normal;

  @media (max-width: 800px) {
    font-size: 44px;
  }
}

header {
  right: 10px;
  left: 10px;
  display: grid;

  align-items: flex-start;

  @media (min-width: 900px) {
    grid-template-columns: 2fr 1fr;
    position: fixed;
  }
}

button {
  line-height: 80px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  font-size: 40px;
  letter-spacing: -0.06em;
  font-family: poynter-oldstyle-display-nar, serif;
  text-decoration: underline;
  cursor: url("images/link.cur"), auto;

  color: black;
  background: white;
  border: 2px solid black;
  &:hover,
  &.border {
    background: black;
    color: white;
  }
}

.mobile-button {
  font-size: 22px;
  line-height: 1.3;
  margin: 10px 0 20px;
  text-decoration: none;
  color: black;
  background: white;
  border: 1px solid black;
  display: inline-block;
  padding: 5px 10px;
  letter-spacing: -0.06em;
}

a {
  cursor: url("images/link.cur"), auto;
}

.source {
  right: 1%;
  width: 301px;
  bottom: 10px;

  @media (min-width: 800px) {
    position: fixed;
  }
  @media (max-width: 900px) {
    width: 240px;
  }
}

.mouse-area-wrapper {
  @media (min-width: 900px) {
    position: fixed;
    bottom: 0;
    z-index: -1;
    height: 75%;
    width: 75%;
  }

  @media (max-width: 900px) {
    display: none;
  }
}
.mouse-area {
  position: relative;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.subway-card {
  width: 40%;
  height: 40%;
  @media (min-width: 900px) {
    position: absolute;
  }
}

.first {
  top: 0;
  left: 0;
}

.second {
  top: 0;
  right: 0;
}

.third {
  right: 0;
  bottom: 0;
}

.fourth {
  bottom: 0;
  left: 0;
}

h1 {
  z-index: 1;
  line-height: 1;
}

.intro {
  @media (max-width: 900px) {
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
  }
}

.mobile-card-wrapper {
  margin-top: 550px;
}
.mobile-subway-card {
  max-width: 100%;
  mix-blend-mode: difference;
}
